<!DOCTYPE html>
<html>
<head>
	<title>New Student Form</title>
</head>
<body>
	<form action="/students" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="text" name="campus" placeholder="Campus">
		<button type="submit">Save</button>
	</form>
</body>
</html>